@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Secular+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background: #12181B;
    --gray: #2A2E35;
    --light-gray: #B2BECD;
    --hr-color : #b2becd8e;
    --accent-color: #c5460b;
}

body {
    background-color: var(--background);
    font-family: 'Secular One', sans-serif;
    overflow-y: auto;
}

.header {
    font-size: 1.12em;
}

.nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    padding: .80rem;
    background-color: var(--gray);
}

.nav-logo {
    font-size: 1.40em;
    text-decoration: none;
}

.nav-logo, .links {
    color: var(--light-gray);
    cursor: pointer;
    transition: color .32s ease;
}

.nav-logo:hover, .links:hover {
    color: #fff;
}

.nav-container {
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
}

.nav-item {
    list-style: none;
    transition: transform .45s ease;
}

.nav-item:hover {
    transform: translateY(-1px);
}

.links {
    text-decoration: none;
}

.main-title {
    font-size: 2em;
    margin-bottom: .65em;
    color: #ffffff;
}

.text {
    font-size: 1.4em;
    line-height: 1.56em;
    text-align: justify;
}

.container {
    padding: 4em 12em;
    color: var(--light-gray);
}

.article {
    margin-bottom: 2.5em;
}

.main-title {
    font-size: 2em;
    margin-bottom: .65em;
    color: #ffffff;
}

.text {
    font-size: 1.4em;
    line-height: 1.56em;
    text-align: justify;
}

.white-mark {
    color: #ffffff;
}

.github {
    text-decoration: none;
    color: var(--accent-color);
    transition: color .4s ease;
}

.github:hover{
    color: #ea5915;
}

.btn-container {
    margin-top: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

.btn {
    text-decoration: none;
    font-size: 1.8em;
    color: var(--light-gray);
    border: 2px solid var(--light-gray);
    padding: .5em 2em;
    border-radius: .75em;
    transition: transform .30s ease, color .40s ease, border-radius .50s ease;
}

.btn:hover {
    transform: translateY(-2px);
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    border-radius: .75em 1.2em;
}
