@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background: #24292e;
    color: #fff;

    font-family: "Noto Sans", sans-serif;
    font-weight: 400;

    overflow: hidden;
}

.home-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    gap: 1.8em;
}

.home-text-box {
    display: flex;
    flex-direction: column;
    gap: 0.75em;

    text-align: center;
}

.home-text-box h1 {
    font-size: 2em;
}

.home-text-box p {
    font-size: 1.1em;
    line-height: 1.4em;
}

.link {
    text-decoration: underline 0.02em rgba(241, 216, 72, 0);
    color: #eacf38;
    transition: text-decoration-color 0.4s;
}

.link:hover {
    text-decoration-color: rgb(241, 216, 72);
}

.home-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5em;

    padding: 0.75em;
}

.home-icons a {
    text-decoration: none;
    transition: transform 0.5s ease;
}

.home-icons a:hover {
    transform: translateY(-2px);
}

.youtube {
    transition: filter 0.4s ease;
}

.youtube:hover {
    filter: invert(80%) sepia(28%) saturate(5968%) hue-rotate(343deg)
        brightness(140%) contrast(98%);
}

.twitch {
    transition: filter 0.4s ease;
}

.twitch:hover {
    filter: invert(80%) sepia(58%) saturate(5615%) hue-rotate(268deg)
        brightness(85%) contrast(105%);
}

.github {
    transition: filter 0.4s ease;
}

.github:hover {
    filter: invert(30%) sepia(28%) saturate(5968%) hue-rotate(343deg)
        brightness(140%) contrast(98%);
}

/* Mods */

.mods-container {
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;

    gap: 2.5em;
}

.mods-text-box {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    margin-top: 1em;

    text-align: center;
}

.mods-text-box h1 {
    font-size: 2em;
}

.mods-text-box p {
    font-size: 1.1em;
    line-height: 1.4em;
}

.mods-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.mods-div {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.mods-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.25em;
}

.mods-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5em;
}

.mods-links a {
    text-decoration: none;
    text-shadow: 0.8px 0.8px 1.2px rgba(0, 0, 0, 0.6);
    font-weight: 500;

    color: #fff;
    background-color: #d7a32b;

    border-radius: 0.2em;
    padding: 0.75em 1em;

    transition: color 0.6s ease, transform 0.4s ease;
}

.mods-links a:hover {
    background-color: #d6bd2e;
    transform: translateY(-2px);
}
