@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap");

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #24292e;
    color: #fff;

    font-family: "Noto Sans", sans-serif;
    font-weight: 400;

    /* overflow: hidden; */
}

.home-container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    gap: 1.8em;

    overflow: hidden;
}

.home-text-box {
    display: flex;
    flex-direction: column;
    gap: 0.75em;

    text-align: center;
}

.home-text-box h1 {
    font-size: 2em;
}

.home-text-box p {
    font-size: 1.1em;
    line-height: 1.4em;
}

.link {
    text-decoration: underline 0.02em rgba(241, 216, 72, 0);
    /* color: #eacf38; */
    color: #51a4fe;
    transition: text-decoration-color 0.4s;
}

.link:hover {
    /* text-decoration-color: rgb(241, 216, 72); */
    text-decoration-color: #51a4fe;
}

.home-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5em;

    padding: 0.75em;
}

.home-icons a {
    text-decoration: none;
    transition: transform 0.5s ease;
}

.home-icons a:hover {
    transform: translateY(-2px);
}

.youtube {
    transition: filter 0.4s ease;
}

.youtube:hover {
    filter: invert(80%) sepia(28%) saturate(5968%) hue-rotate(343deg)
        brightness(140%) contrast(98%);
}

.twitch {
    transition: filter 0.4s ease;
}

.twitch:hover {
    filter: invert(80%) sepia(58%) saturate(5615%) hue-rotate(268deg)
        brightness(85%) contrast(105%);
}

.github {
    transition: filter 0.4s ease;
}

.github:hover {
    /* filter: invert(30%) sepia(28%) saturate(5968%) hue-rotate(343deg)
        brightness(140%) contrast(98%); */
    filter: invert(30%) sepia(25%) saturate(8000%) hue-rotate(198deg)
        brightness(110%) contrast(120%);
}

/* Mods */

.mods-container {
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;

    gap: 2.5em;
}

.mods-text-box {
    gap: 0.75em;
    margin-top: 1em;

    text-align: center;
}

.mods-text-box h1 {
    font-size: 2em;

    margin-bottom: 0.75rem;
}

.mods-text-box p {
    font-size: 1.1em;
    line-height: 1.4em;
}

/* .mods-section {
    display: flex;
    flex-direction: column;
    gap: 4em;
    padding: 0.75em;


} */

.mods-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

    justify-content: center;

    grid-auto-columns: minmax(max-content, 2fr);

    gap: 2.4em;
    padding: 2rem;
}

.mods-div {
    display: flex;
    flex-direction: column;
    gap: 1em;

    /* min-width: 20rem; */

    background-color: #2c3843;

    padding: 2rem;
    border-radius: 0.8rem;
}

.mods-content {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

.mods-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
}

.mods-links a {
    text-decoration: none;
    text-shadow: 0.8px 0.8px 1.2px rgba(0, 0, 0, 0.6);
    font-weight: 500;

    color: #fff;
    /* background-color: #d7a32b; */
    background-color: #2e7acc;

    border-radius: 0.2em;
    padding: 0.75em 1em;

    transition: color 0.6s ease, transform 0.4s ease;
}

.mods-links a:hover {
    /* background-color: #d6bd2e; */
    background-color: #51a4fe;
    transform: translateY(-2px);
}

/* .mods-line {
    color: transparent;

    border-top: 2px dashed #131618c3;

    text-decoration: dashed;
    
} */

/* Tweaks */

.tweaks-container {
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;

    gap: 2.5em;
}

.tweaks-text-box {
    gap: 0.75em;
    margin-top: 1em;

    text-align: center;
}

.tweaks-text-box h1 {
    font-size: 2em;

    margin-bottom: 0.75rem;
}

.tweaks-text-box p {
    font-size: 1.1em;
    line-height: 1.4em;
}

.tweaks-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 4em;
    padding: 0.75em;


}

.tweaks-div {
    display: flex;
    flex-direction: column;
    gap: 1em;

    max-width: 60rem;

    background-color: #2c3843;

    padding: 2rem;
    border-radius: 0.8rem;
}

.tweaks-content {
    display: flex;
    flex-direction: column;
    gap: 0.75em;

}

.tweaks-content article {
    text-align: justify;
    font-size: 1.12em;
    line-height: 1.6em;

    padding: 0.75rem;

    text-rendering: optimizeLegibility;
    text-indent: 2rem;
}

.tweaks-content article p {
    padding: 0.75rem;
}

.filters {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5em;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
}

.buttons input[type=button]{
    text-decoration: none;
    text-shadow: 0.8px 0.8px 1.2px rgba(0, 0, 0, 0.6);
    font-weight: 500;

    border: none;

    color: #fff;
    /* background-color: #d7a32b; */
    background-color: #2e7acc;

    border-radius: 0.2em;
    padding: 0.75em 1em;

    transition: color 0.6s ease, transform 0.4s ease;
}

.buttons input[type=button]:hover {
    /* background-color: #d6bd2e; */
    background-color: #51a4fe;
    transform: translateY(-2px);
}

.button-active {
    background-color: #51a4fe !important;
}

@media only screen and (max-width: 1268px) {
    body {
        overflow: auto;
    }

    .mods-section {
        grid-template-columns: 1fr 1fr;
    }

    .mods-links {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 700px) {
    body {
        overflow: auto;
    }

    .mods-section {
        grid-template-columns: 1fr;
    }

    .mods-links {
        display: flex;
        flex-direction: column;
    }

    .tweaks-content article {
        padding: 0.25rem;
    }

    .tweaks-content article p {
        padding: 0.25rem;
    }
}
