@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap");

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background: #24292e;
    color: #fff;

    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
}

.nav {
    background-color: #131618;
}

.nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2em;

    list-style: none;

    padding: 0.75em;
}

.nav-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding: 0.25em;

    background-color: #ffffff00;
    color: #e4e4e4;

    font-size: 1.2em;

    border: none;

    cursor: pointer;

    transition: color 0.4s ease, transform 0.4s ease;
}

/* TEST */

.nav-btn:hover {
    color: #fff;
    transform: translateY(-2px);
}
